<p id="notice"><%= notice %></p>
  <%= render 'shared/error_messages', this: @album %>
<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>User:</b>
  <%= @album.user_id %>
</p>

<p>
  <b>add photo</b>
	  <%= render 'photo_form' %>
</p>

<p>
  <b>add batch photo</b>
    <%= render 'photos/batch_upload_form' %>
</p>

<p>
  <b>Photoes</b>
	<ul>
	  <%= render @photos unless @photos.count == 0%>
	</ul>  
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
